<!doctype html>
<head>
    <title>Simple table with simple connection</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href ="{{ url_for('static', filename='basic.css') }}"/>
</head>
<body>
    <table class='table table-striped table-sm table-responsive'>
        <thead class="sticky"><tr>
        {% for name in colnames %}
            <th class="bg-dark" scope="col">
                <a href = {{ url_for(request.endpoint, sort=name) }} class="text-primary">
                {{ name }}
                </a>
            </th>
        {% endfor %}
        </tr></thead>
        <tbody>
        <br />
        {% for row in table %}
            <tr>
            {% for name in colnames %}
                <td>{{ row[loop.index-1] }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
