<!doctype html>
<head>
    <title>Simple table with simple connection</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<table class='table table-striped table-sm table-responsive'>
    <thead class="thead-dark"><tr>
    {% for name in colnames %}
        <th class="head" scope="col" style="position:sticky;top:0;z-index:0;background-color:white">{{ name }}</th>
    {% endfor %}
    </tr></thead>
    <tbody>
    {% for row in table %}
        <tr>
        {% for name in colnames %}
            <td>{{ row[loop.index-1] }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
